/* Importar fuentes desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

/* Directivas de Tailwind CSS */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos base para la aplicación */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F3F4F6; /* background-light */
  color: #374151; /* text-gray-700 */
}